%h2 Groups
%div.content
  %div.flash
    %div.message.error 
      %p Error message
    %div.message.warning 
      %p Warning message
    %div.message.notice 
      %p Notice message
%div#inner
  %table.table
    %tbody
      %tr
        %th.first
        %th Group Name
        %th Repo
        %th.modify Show
        %th.modify Edit
        %th.modify.last Delete
      %tr.odd
        %td 
          %input{:type => "checkbox", :name => "id", :value => "1"}
        %td gitosis-admin
        %td 
          %a{:href => "/repos/gitosis-admin"} gitosis-admin
        %td
          show
        %td
          edit
        %td
          %a{"/groups/delete/gitosis-admin"}
            %img{:src => "images/icons/cross.png", :alt => "Delete"}
            delete
      %tr.even
        %td 
          %input{:type => "checkbox", :name => "id", :value => "1"} 
        %td bucketb
        %td 
          %a{:href => '/repos/devstu'} devstu
        %td edit
        %td show
        %td
          %a{:href => "/groups/delete/gitosis-admin"}
            %img{:src => "images/icons/cross.png", :alt => "Delete"}
            delete
      %tr.odd
        %td 
          %input{:type => "checkbox", :name => "id", :value => "1"} 
        %td mathiasx
        %td 
          %a{:href => "repos/gitosysadmin" } gitosysadmin
        %td show
        %td edit
        %td 
          %a{:href => "/groups/delete/gitosis-admin"}
          %img{:src => "images/icons/cross.png", :alt => "Delete"}
          delete
%div.actions
  %span.addbutton
    %a{:href => "/groups/add"}
      Add a group