%h2.title App
%div.content
  %div.flash
    %div.message.error 
      %p Error message
    %div.message.warning 
      %p Warning message
    %div.message.notice 
      %p Notice message
%div#inner
  %p Stuff goes here.