%div#sidebar
  %div.block
    %h3 Gitosis Stats
    %ul.navigation
      %li
        %a{:href => "/groups"} 
          groups
      %li 
        %a{:href => "/repos"} 
          repos
      %li 
        %a{:href => "/users"}
          users